[package]
name = "cargo-tally"
version = "0.2.10"
authors = ["David Tolnay <dtolnay@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Cargo subcommand for drawing graphs of the number of direct dependencies on a crate over time"
repository = "https://github.com/dtolnay/cargo-tally"
categories = ["development-tools::cargo-plugins"]
readme = "README.md"
include = ["Cargo.toml", "src/**/*.rs", "README.md", "LICENSE-APACHE", "LICENSE-MIT"]
edition = "2018"

[dependencies]
atty = "0.2"
chrono = { version = "0.4", features = ["serde"] }
flate2 = "1.0"
fnv = "1.0"
gnuplot = "0.0.31"
indicatif = "0.11"
lazy_static = "1.0"
log = "0.4"
env_logger = "0.6"
palette = "0.4"
regex = "1.0"
reqwest = "0.9"
semver = { version = "0.9", features = ["serde"] }
semver-parser = "0.7"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
string-interner = "0.7"
structopt = "0.2"
url = "1.6"

[workspace]
members = ["index"]

[badges]
travis-ci = { repository = "dtolnay/cargo-tally" }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
