[package]
name = "cargo-tally"
version = "0.2.3"
authors = ["David Tolnay <dtolnay@gmail.com>"]
license = "MIT/Apache-2.0"
description = "Cargo subcommand for drawing graphs of the number of direct dependencies on a crate over time"
repository = "https://github.com/dtolnay/cargo-tally"
categories = ["development-tools::cargo-plugins"]
readme = "README.md"
include = ["Cargo.toml", "src/**/*.rs", "README.md", "LICENSE-APACHE", "LICENSE-MIT"]

[dependencies]
cargo = "0.26"
chrono = { version = "0.4", features = ["serde"] }
failure = "0.1"
failure_derive = "0.1"
flate2 = "1.0"
fnv = "1.0"
gnuplot = "0.0.24"
indicatif = "0.9"
isatty = "0.1"
lazy_static = "1.0"
log = "0.4"
env_logger = "0.5"
palette = "0.3"
regex = "0.2"
reqwest = "0.8"
semver = { version = "0.9", features = ["serde"] }
semver-parser = "0.7"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
string-interner = "0.6"
tar = "0.4"
unindent = "0.1"
url = "1.6"

[workspace]
members = ["scrape"]
